.map-wrap {
  position: relative;
  width: 100%;
  height: calc(
    100vh - 10px
  ); /* calculate height of the screen minus the heading */
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}
